body {
    background-color: lightblue;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Adjusts the vertical position */
}

.small-container {
    width: 400px;
    padding: 20px;
    margin: 0; /* Remove margin to rely on flex gap for spacing */
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    overflow: hidden;
}


.button-container {
    display: flex;
    gap: 100px;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 10px; /* Adjust as needed */
    width: 100%; /* Full width of the parent container */
}

.currency-info {
    font-weight: bold;
    margin-right: 10px;
}

.value {
    color: black; /* Set the color to black */
    margin-left: 5px;
    cursor: pointer;
}

/* You may also want to ensure that individual spans or other elements inside .value are black */
.value .currency-symbol,
.value .currency-rate {
    color: black; /* Ensure child elements are also set to black if they were individually styled */
}

/* Media query for small screens */
@media (max-width: 428px) { /* iPhone 13 Pro width */
    .parent-container {
        padding: 0 15px; /* Adds 15px padding on the left and right */
    }

    .small-container {
        width: 100%; /* Makes the container take up full width of the parent */
        max-width: 360px; /* Ensures it doesn't get too wide on slightly larger screens */
    }
}
